<a href="https://colab.research.google.com/github/goodevilrejectboth/ict_assignment/blob/main/assingment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1
item1_price = int(input('Enter the price of first item1: '))
q1=int (input('quantity of item one' ))
item2_price = int(input('Enter the price of second item2:'))
q2=int (input('quantity of item two'))
total_bill=item1_price*q1+item2_price*q2
print ('total bill:',total_bill)

Enter the price of first item1: 45
quantity of item one3
Enter the price of second item2:30
quantity of item two2
total bill: 195

In [ ]:
# 2
c=int(input('enter the temperature is celsius'))
f=(c*9/5)+32
print('temperature in fahrenheit:',f)

enter the temperature is celsius30
temperature in fahrenheit: 86.0

In [ ]:
#3
s=int(input('enter salary:'))
HRA=0.2*s
DA=0.1*s
netsalary=s+HRA+DA
print ('netsalary:',netsalary)

enter salary:20000
netsalary: 26000.0

In [ ]:
#4
p=float(input('entr priniple amount:'))
r=float(input('emter rate of intrest:'))
t=float(input('enter time in year'))
si=(p*r*t)/100
print('simple intrest:',si)

entr priniple amount:10000
emter rate of intrest:5
enter time in year2
simple intrest: 1000.0

In [ ]:
#5
t=int(input('enter total minites:'))
h=int(t//60)
m=int(t%60)
print(h,'hour and',m,'minites')

enter total minites:130
2 hour and 10 minites

In [ ]:
# 6
w=int(input('enter the weight in kg:'))
h=float(input('enter the height in meters:'))
BMI=w/(h*h)
print('BMI:',BMI)

enter the weight in kg:60
enter the height in meters:1.65
BMI: 22.03856749311295

In [ ]:
# 7
original_price=int(input('enter the original price:'))
discount=0.1*original_price
D=original_price-discount
print('Discount price:',D)

enter the original price:1200
Discount price: 1080.0

In [ ]:
# 8
a=float(input('enter the side a:'))
b=float(input('enter the side b:'))
c=float(input('enter the side c:'))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print("Area of triangle:",area)

enter the side a:5
enter the side b:6
enter the side c:7
Area of triangle: 14.696938456699069

In [ ]:
# 9
length = float(input('Enter the length of the wall in meters: '))
height = float(input('Enter the height of the wall in meters: '))
cost_per_sq_meter = 25
wall_area = length * height
window_area_single = 1.5 * 1.2
windows_total_area = 2 * window_area_single
paintable_area = wall_area - windows_total_area
total_cost = paintable_area * cost_per_sq_meter
print(f"Total wall area: {wall_area:.2f} sq meters")
print(f"Total window area: {windows_total_area:.2f} sq meters")
print(f"Area to be painted: {paintable_area:.2f} sq meters")
print(f"Total cost to paint: ₹{total_cost:.2f}")

Enter the length of the wall in meters: 12
Enter the height of the wall in meters: 8
Total wall area: 96.00 sq meters
Total window area: 3.60 sq meters
Area to be painted: 92.40 sq meters
Total cost to paint: ₹2310.00

In [ ]:
# 10
u=int(input('enter number of units'))
r=u*5.2
print('rate according to unite consumed:',r)
print('fixed charge=100rs')
total_amt=r+100
print('total bill:',total_amt)

enter number of units250
rate according to unite consumed: 1300.0
fixed charge=100rs
total bill: 1400.0