<a href="https://colab.research.google.com/github/goodevilrejectboth/ict_assignment/blob/main/assinment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 # Write a Python function to find the Max of three numbers program 1

def biggest(x,y,z):
    if x>y and x>z:
      print(x,'is the biggest number')
    elif y>z and y>x:
      print(y,'is the biggest number')
    else:
      print(z,'is the biggest number')

In [ ]:
x = int(input('Enter the first number: '))
y = int(input('Enter the second number: '))
z = int(input('Enter the third number:'))
biggest(x,y,z)

Enter the first number: 1
Enter the second number: 2
Enter the third number:4
4 is the biggest number

In [ ]:
def sum_list_builtin(numbers):
  return sum(numbers)

my_list = [18, 12, 30, 10, 7]
total = sum_list_builtin(my_list)
print(f"The sum of {my_list} is: {total}")

The sum of [18, 12, 30, 10, 7] is: 77

In [ ]:
# program 3
my_list = [10, 20, 40, 50]
print(f"Original List: {my_list}")
number_to_insert = int(input("Enter the number you want to insert: "))
position = int(input(f"Enter the position (0-{len(my_list)}) to insert the number: "))
my_list.insert(position, number_to_insert)
print(f"Updated List: {my_list}")

Original List: [10, 20, 40, 50]
Enter the number you want to insert: 2
Enter the position (0-4) to insert the number: 2
Updated List: [10, 20, 2, 40, 50]

In [ ]:
# program 4
sample_dict = { "name": "Kelly", "age": 25, "salary": 8000, "city": "New york"}
city_value = sample_dict.pop("city")
sample_dict["location"] = city_value

print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [ ]:
# program 5
sample_dict = {
 'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 500}}
sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [ ]:
# program 6
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:5]
print(f"Original tuple: {tuple1}")
print(f"New tuple with elements 44 and 55: {tuple2}")

Original tuple: (11, 22, 33, 44, 55, 66)
New tuple with elements 44 and 55: (44, 55)

In [ ]:
#  program 7
tuple1 = (50, 10, 60, 70, 50, 83, 567, 50, 81)
count = tuple1.count(50)
print(count)

3